@font-face {
  font-family: "Lobster";
  src: url("../fonts/lobster/Lobster.eot");
  src: url("../fonts/lobster/Lobster.ttf");
  src: url("../fonts/lobster/Lobster.woff");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans/OpenSansRegular.woff");
  src: url("../fonts/OpenSans/OpenSansRegular.eot");
  src: url("../fonts/OpenSans/OpenSansRegular.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Open Sans Semibold";
  src: url("../fonts/OpenSans/OpenSansSemibold/OpenSans-Semibold.woff");
  src: url("../fonts/OpenSans/OpenSansSemibold/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans/OpenSansSemibold/OpenSans-Semibold.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/Myriad Pro/MYRIADPROREGULAR.woff");
  src: url("../fonts/Myriad Pro/MYRIADPROREGULAR.eot");
  src: url("../fonts/Myriad Pro/MYRIADPROREGULAR.ttf");
  font-style: normal;
  font-weight: normal; }

.topline, .team, .price .content, footer .container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.team ul li .team-photo:hover::before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 85px;
  font-weight: 700;
  color: #f46d6d; }

.slider .owl-prev, .slider .owl-next {
  position: absolute;
  top: 55%;
  display: block;
  height: 52px;
  background-image: url("../img/banner_btns.png");
  background-repeat: no-repeat;
  width: 51px;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%); }
  .slider .owl-prev:hover, .slider .owl-next:hover {
    opacity: 0.7; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans";
  font-size: 14px;
  text-align: center;
  color: #4e525d; }

.topline {
  overflow: hidden; }
  .topline h1 {
    float: left;
    font-family: "Lobster";
    font-weight: normal;
    font-size: 43px;
    line-height: 100px; }
    .topline h1 a {
      color: #44c0c2;
      text-decoration: none; }
  .topline .main-navigation {
    float: right; }
    .topline .main-navigation li {
      display: inline-block;
      float: left; }
      .topline .main-navigation li a {
        display: inline-block;
        padding: 38px 20px;
        font-size: 15px;
        line-height: 24px;
        font-weight: normal;
        text-decoration: none;
        color: #484c55; }
      .topline .main-navigation li.active, .topline .main-navigation li:hover {
        background-color: #f8f9fb;
        border-bottom: 3px solid #49cbcd; }
        .topline .main-navigation li.active a, .topline .main-navigation li:hover a {
          color: #49cbcd; }

.slider .slide {
  position: relative; }
  .slider .slide img {
    display: block;
    width: 100%; }
  .slider .slide .text {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    color: white;
    font-size: 23px;
    width: 100%; }
    .slider .slide .text h2 {
      margin-bottom: 15px;
      font-size: 63px;
      font-family: "Open Sans Semibold";
      text-shadow: 0.1px 1px 0 rgba(0, 0, 0, 0.16); }
    .slider .slide .text p {
      margin: 0 auto;
      margin-bottom: 53px;
      max-width: 400px; }
    .slider .slide .text button {
      padding: 18px 35px;
      font-family: "Open Sans Semibold";
      font-size: 26px;
      line-height: 26px;
      color: #fff;
      background-color: transparent;
      border: 3px solid #fff;
      -webkit-border-radius: 6px;
              border-radius: 6px;
      cursor: pointer; }

.slider .owl-prev {
  left: 3%; }

.slider .owl-next {
  right: 3%;
  background-position: 100% 0; }

.team h2 {
  margin: 95px 0 100px 0;
  font-size: 42px;
  line-height: 42px;
  font-weight: normal; }

.team ul {
  margin-bottom: 100px;
  font-size: 0;
  text-align: center; }
  .team ul li {
    font-size: 14px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    max-width: 292px;
    padding: 0 21px;
    vertical-align: top; }
    .team ul li:first-child {
      padding-left: 10px; }
    .team ul li:last-child {
      padding-right: 10px; }
    .team ul li .team-photo {
      position: relative;
      margin: 0 auto 70px;
      width: 201px;
      height: 201px;
      background-color: #eeeef0;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
    .team ul li h3 {
      margin-bottom: 25px;
      font-size: 22px;
      line-height: 23px;
      font-weight: normal; }
      .team ul li h3 span {
        font-size: 14px; }
    .team ul li p {
      line-height: 26px; }

.price {
  font-size: 0;
  padding: 109px 0;
  background-color: #f1f1f1; }
  .price .content .card {
    position: relative;
    margin-right: 30px;
    padding-bottom: 70px;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 370px;
    width: 100%;
    background-color: #f8f9fb; }
    .price .content .card:last-child {
      margin-right: 0; }
    .price .content .card h3 {
      padding: 28px 0;
      font-size: 26px;
      line-height: 20px;
      font-weight: normal;
      color: white;
      background-color: #495261; }
    .price .content .card span {
      display: block;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-size: 20px;
      line-height: 16px;
      padding: 27px 0;
      color: #485460; }
    .price .content .card ul {
      list-style: none;
      background-color: #fff;
      margin-bottom: 30px; }
      .price .content .card ul li {
        padding: 11px 0;
        font-size: 14px;
        line-height: 24px;
        border-bottom: 1px solid #ecf0f1;
        color: #8c9299; }
        .price .content .card ul li:first-child {
          border-top: 1px solid #ecf0f1; }
    .price .content .card button {
      position: absolute;
      bottom: 0px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      margin-bottom: 30px;
      padding: 8px 50px;
      font-size: 17px;
      line-height: 24px;
      font-weight: 600;
      font-family: "Open Sans";
      color: #fff;
      background-color: #788492;
      border: none;
      -webkit-border-radius: 3px;
              border-radius: 3px; }
      .price .content .card button:hover + h3, .price .content .card button:hover {
        background-color: #49cbcd; }

footer {
  padding: 95px 0 100px 0;
  text-align: left;
  background-image: url("../img/footer.jpg");
  background-origin: border-box;
  background-size: cover; }
  footer h2 {
    margin-bottom: 100px;
    font-size: 42px;
    font-weight: normal;
    color: #fff;
    text-align: center; }
  footer .get-in-touch {
    float: left;
    width: 40%; }
    footer .get-in-touch h3 {
      margin-bottom: 5px;
      font-size: 24px;
      font-weight: normal;
      color: #fff; }
    footer .get-in-touch p {
      color: #989898;
      max-width: 450px;
      font-size: 14px;
      margin-bottom: 40px; }
    footer .get-in-touch ul {
      margin-bottom: 15px;
      font-size: 0; }
      footer .get-in-touch ul li {
        margin-right: 15px;
        display: inline-block;
        width: 42px;
        height: 42px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background-image: url("../img/social.png"); }
        footer .get-in-touch ul li.tw {
          background-position: center 0; }
        footer .get-in-touch ul li.g {
          background-position: 42px 0; }
    footer .get-in-touch span {
      display: block;
      line-height: 24px;
      color: #bface2;
      font-family: 'Myriad Pro'; }
      footer .get-in-touch span a {
        text-decoration: none;
        color: #bface2; }
  footer .forms {
    width: 48%;
    float: right; }
    footer .forms input {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 15px 30px;
      width: 48%;
      font-size: 16px;
      color: #c1c1c1;
      box-sizing: border-box;
      border: none;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      margin-bottom: 30px; }
    footer .forms label:first-child input {
      float: left;
      margin-right: 4%; }
    footer .forms textarea {
      font-family: "Open Sans";
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 15px 30px;
      margin-bottom: 30px;
      font-size: 16px;
      color: #c1c1c1;
      width: 100%;
      height: 150px;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      border: none;
      resize: none; }
    footer .forms button {
      float: right;
      background-color: #49cbcd;
      color: #fff;
      font-size: 22px;
      line-height: 24px;
      padding: 13px 60px;
      font-family: "Open Sans";
      border: none;
      -webkit-border-radius: 3px;
              border-radius: 3px; }
