$main-logo-color: #44c0c2
$main-color: #49cbcd
$font-color: #4e525d
$topline-nav-color: #484c55
$team-photo-color: #eeeef0
$photo-cross-color: #f46d6d
$subscription-main-color: #8c9299
$subscription-cash-color: #485460
$footer-color: #989898
$footer-color-contacts: #bface2
