@media only screen and (max-width: 992px)
  .team
    ul
      li
        width: 47%

@media only screen and (max-width: 768px)
  .header
    h1
      font-size: 30px
      line-height: 60px
    nav
      display: none
      width: 100%
      ul li
        display: block
        width: 100%
        a
          padding: 10px 40px
    .toggle-menu
      display: block
  .slider
    margin-top: 60px
    .slide
      .text
        font-size: 13px
    .owl-prev, .owl-next
      display: none !important
  .price
    padding-bottom: 50px
    .content
      .card
        display: block
        width: 100%
        margin: 0 auto 60px

  footer
    .forms
      float: none
      width: 90%
      margin: 0 auto 70px
      button
        float: none
        max-width: 100%
        width: 100%

    .get-in-touch
      float: none
      text-align: center
      margin: 0 auto
      width: 90%

@media only screen and (max-width: 480px)
  .slider
    .slide
      .text
        font-size: 12px
        h2
          font-size: 2.1em
          margin-bottom: 0.6em
        // button
        //   border-width: 2px
        // p
        //   margin-bottom: 2.5em
  .team
    ul
      li
        width: 100%
