@media only screen and (max-width: 1190px)
  .topline h1
    margin-left: 20px

@media only screen and (max-width: 700px)
  .topline
    position: relative
    nav
      float: none
      .toggle-menu
        display: block
      ul
        background-color: $card-bg-color
        width: 100%
        display: none
        li
          float: none
          display: block
          a
            padding: 10px 20px
          &.active
            border: none
